{{>menu}}

<div class="container p-4">

  <p>Tabla resultados</p>

  <table>
    <tr class="border-stone-800 border-b-2">
      <th class="text-left">Lugar</th>
      <th class="text-left">Piloto</th>
      <th>Lugar</th>
      {{#each carreras}}
        <th> <img src="{{ this.bandera }}" alt="{{ this.pais }}" class="w-12" /> </th>
      {{/each}}
    </tr>
    <tr>
      <td class="text-left">1</td>
      <td class="text-left">Max Verstapen</td>
      <td>25</td>
    </tr>
  </table>

  

</div>