<div class="header flex justify-between w-full boder-solid border-b-2 border-slate-900 p-1">
  {{!-- Logo --}}
  <div class="header-left p-2">
    Formula 1
  </div>

  {{!-- Menu --}}
  <div class="header-right flex justify-end">
    <div class="button-container mx-1">
      <a href="/" class="bg-blue-700 text-white p-2 min-w-40 rounded-2xl">Inicio</a>
    </div>
    <div class="button-container mx-1">
      <a href="/resultados-form" class="bg-blue-700 text-white p-2 min-w-40 rounded-2xl">Ingresar Resultado</a>
    </div>
    <div class="button-container mx-1">
      <a href="/resultados-por-escuderia" class="bg-blue-700 text-white p-2 min-w-40 rounded-2xl">Resultados por Escuderia</a>
    </div>
    <div class="button-container mx-1">
      <a href="/resultados-por-abandono" class="bg-blue-700 text-white p-2 min-w-40 rounded-2xl">Ver Abandonos</a>
    </div>
  </div>

</div>

<div class="container">

  <p>Resultados por escuderia</p>

</div>