{{>menu}}

<div class="container">

  <p>Ingresar resultados de la Carrera</p>

  <form action="/registrar-resultado" method="post" > 
    
    {{#each pilotos}}
    <div class="border-stone-800 border-2 m-y-4">
      <input type="text" name="piloto" value="{{this.piloto}}">
      <input type="text" name="escuderia" value="{{this.escuderia}}">
      <input type="number" name="minutos totales">
      <input type="number" name="lugar">
      
      <select name="abandono" id="abandono">
        <option value="NO"(defecto)>No</option>
        <option value="problemas tecnicos">Problemas Técnicos</option>
        <option value="problemas personales">Problemas Personales</option>
      </select>
    </div>
    {{/each }}

    <input type="submit" value="Enviar">
  </form> 

</div>