{{>menu}}

<div class="container">

  <p>Ingresar resultados de la Carrera</p>

  <form action="Minutos Totales" > 
    
    <input type="text" name="piloto">
    <input type="text" name="escuderia">
    <input type="number" name="minutos totales">
    <input type="number" name="lugar">
    
    <select name="abandono" id="abandono">
      <option value="NO"(defecto)>No</option>
      <option value="problemas tecnicos">Problemas Técnicos</option>
      <option value="problemas personales">Problemas Personales</option>
  </select>

    <input type="submit" value="Save">
  </form> 

</div>